name: Pull Requests

on:
  pull_request:

permissions:
  actions: write
  packages: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  changes:
    name: Changes Filter
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: read
    outputs:
      packer: ${{ steps.filter.outputs.packer }}
    steps:
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          packer:
            - 'packer/**'
            - '.dockerignore'

  linting-packer:
    name: Linting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: packer/Dockerfile

  build-packer:
    name: Build
    uses: ilyes512/github-actions/.github/workflows/build.yml@1.0.8
    needs: [changes, linting-packer]
    if: ${{ needs.changes.outputs.packer == 'true' }}
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - os: ubuntu-24.04
            platform: linux/amd64
          - os: ubuntu-24.04-arm
            platform: linux/arm64
    with:
      runs-on: ${{ matrix.runs-on.os }}
      platform: ${{ matrix.runs-on.platform }}
      image-name: ghcr.io/${{ github.repository_owner }}/packer
      dockerfile: packer/Dockerfile

  merge-packer:
    name: Merge
    uses: ilyes512/github-actions/.github/workflows/merge.yml@1.0.8
    needs: [changes, build-packer]
    if: ${{ needs.changes.outputs.packer == 'true' }}
    with:
      runs-on: ubuntu-24.04
      image-name: ghcr.io/${{ github.repository_owner }}/packer

  check:
    name: Check
    runs-on: ubuntu-24.04
    needs: [linting-packer, build-packer, merge-packer]
    if: always()
    steps:
      - run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
      - run: exit 0
